/*
 * Empty Stylesheet file.
 */

@import "root.css";

.jfx-date-picker-custom{
    -fx-background-color:#388E3C;
    -fx-text-fill:white;
    -fx-font-weight:900;
    -fx-background-radius:5;
}