<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://ABC-ANDRI\HotelDB:1433;databaseName=Hotel</property>
    <property name="hibernate.connection.username">lenorahotel</property>
    <property name="hibernate.connection.password">lenorahotelsystem</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="hotelfx/persistence/model/TblEmployeeEmployeeServiceCharge.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemExpiredDate.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSystemUser.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelFinanceTransactionHotelReceivable.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelPayable.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPropertyBarcode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPurchaseOrder.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeLeave.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStockOpnameDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelFinanceTransactionWithCash.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEdcstatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReturPaymentStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationPaymentWithGuaranteePayment.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPartner.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelReceivable.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysDataHardCode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPurchaseOrderItemArriveStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeOvertimeDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationTravelAgentDiscountDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefRecordStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeEmployeeOvertimeDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomCheckItemMutationHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBrokenItemDetailItemMutationHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeSalaryHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationPaymentWithDeposit.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPercentageNominalType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeEmployeeThr.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemTypeWh.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPurchaseOrderDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservation.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationBreakfastOrder.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeResignType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblFinanceTransaction.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblApprovalData.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefBankAccountType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefRoomCheckStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefFinanceTransactionType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefSystemLogBy.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblOpenCloseCashierBalanceDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefCountry.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRescheduleCanceled.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysSystem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCustomerBankAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCalendarEmployeeSchedule.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefOpenCloseCashierBalanceStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationBillStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBrokenItem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEdctransactionStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCashierBalance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomStatusChangeHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblOpenCloseCashierBalance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblApplicant.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeCutOffLeave.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCalendarEmployeeDebt.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblLocationOfWarehouse.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCalendarEmployeeAttendance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPeopleEmploymentHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationBillDiscountType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomTypeDetailChildDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCalendarEmployeeWarningLetter.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPeopleEducationHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCalendarEmployeePaymentHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationCancelingFee.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomTypeDetailRoomService.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationBill.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblJob.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCompanyBalance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefSystemStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomStatusDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeLeaveDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStockOpnameDetailPropertyBarcode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeWarningLetterType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPartnerStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblLocation.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStockOpnameItemExpiredDate.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelExpenseTransaction.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSystemFeature.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationAdditionalItemReserved.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationPaymentWithReservationVoucher.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblServiceCharge.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPartnerType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBankEventCard.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationCanceled.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStockOpnameDetailItemExpiredDate.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblFloor.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPurchaseRequestStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBankEdc.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblOutGoingDetailItemMutationHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomTypeDetailTravelAgentDiscountDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationBar.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSystemLogBook.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefFounderType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCalendarEmployeeOvertime.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPeopleGender.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefStoreRequestStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPeople.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblMemorandumInvoiceDetailItemExpiredDate.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCalendarEmployeePaymentDebtHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysCurrentHotelDate.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefSystemUserLockStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefBankAccountStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationPayment.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblFoundInformation.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeBankAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefBreakfastType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefRoomInspectionStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPurchaseOrderPaymentStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefHotelReceivableType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblResto.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationBreakfastVoucher.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeContract.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBankCard.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRfidcard.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelFinanceTransactionHotelPayable.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysPasswordDeleteDebt.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationCalendarBar.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/LogCompanyBalanceCashFlow.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemLocationItemExpiredDate.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefRoomCleanStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelFinanceTransactionWithCekGiro.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblServiceChargeCashFlow.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblMemorandumInvoice.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBankAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomTypeDetailRoomPriceDetailChangeRoomHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelFinanceTransaction.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblMemorandumInvoiceDetailPropertyBarcode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelEvent.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomItem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefBankAccountHolderStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationDefaultBar.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblApprovalApprove.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStoreRequestDetailItemMutationHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemLocation.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationAdditionalItemReservedStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBuilding.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPartnerRateInChargeType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefCustomerType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStoreRequest.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefItemType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeLeaveType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoom.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPeopleReligion.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPlusMinusStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemMutationHistoryItemExpiredDate.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefItemExpiredDateStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPartnerBankAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomTypeRoomService.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationBillType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPartnerAgreement.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStoreRequestDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationPaymentWithCekGiro.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefApplicantStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefAccountType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblFinanceData.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblLostInformation.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationOrderByType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/LogSystem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefItemGuestType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblTravelAgent.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomPriceDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeePayroll.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBrokenItemDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeSchedule.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationAdditionalService.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeInsurance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBank.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefRoomStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblApprovalJobRequired.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblInComingDetailItemMutationHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblLocationOfBin.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCustomer.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSystemRole.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemMutationHistoryPropertyBarcode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemMutationHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomTypeDetailItem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSupplierItem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeAllowance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomService.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefCustomerStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefItemMutationType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemCostOfGoodSoldHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRestoBankAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelFinanceTransactionWithTransfer.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefJobRecruitmentShowStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRetur.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefSystemUserLoginStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPeopleFamily.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefHotelPayableType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeThr.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPurchaseOrderRevisionHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefApprovalDataType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationPaymentType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationAdditionalItem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefLocationType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblLostFoundInformationDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelExpenseTransactionDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/LogRoomTypeHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSystemRoleSystemFeature.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBankEdcBankNetworkCard.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomCheck.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblFixedTangibleAssetLocation.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReturType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationPaymentWithBankCard.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysProgram.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeSalaryType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPeopleIdentifierType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblInComingDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationFacilityType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomCheckHouseKeepingAttendanceDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeAttendanceStartStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReturDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemTypeHk.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomItemDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblHotelInvoice.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeServiceCharge.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefFinanceTransactionPaymentType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSupplierBankAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeEmployeeInsurance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefItemObsoleteBy.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPurchaseRequestDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/LogRoomTypePriceChangedHistory.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationBrokenItemPropertyBarcode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReturStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomTypeDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblGuaranteeLetterItemDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblMemorandumInvoiceDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomCardType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSettingPbb.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomCheckHouseKeepingAttendance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblOutGoingDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationRoomTypeDetailRoomPriceDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSystemLogBookJob.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeEmployeePayroll.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationSeason.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeAttendanceEndStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysProgramAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationCheckInOutStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationVoucher.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefBankCardType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblInComing.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCompanyBalanceBankAccount.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefLostFoundStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomTypeItem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReturDetailItemExpiredDate.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeAttendanceStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblItemLocationPropertyBarcode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStockOpnameItemExpiredDateDetail.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeOvertime.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblRoomCard.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefFinanceDataType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPurchaseOrderStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefMemorandumInvoiceStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblLocationOfLaundry.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCompanyBalanceTransferReceived.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblPurchaseRequest.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysCalendar.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblSupplier.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblUnit.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPeopleStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEndOfDayDataStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeSwitchSchedule.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeResign.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationPaymentWithTransfer.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/Sysdiagrams.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefPartnerAgreementStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefFixedTangibleAssetType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeEmployeeCutOffLeave.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeWarningLetter.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblTravelAgentRoomType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblCalendarEmployeeLeave.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/SysCode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationBrokenItem.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblBankNetworkCard.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblStockOpname.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefReservationDiscountType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefRfidcardStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeePayrollType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefVoucherStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployeeEmployeeAllowance.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblApprovalJobPrivilage.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefEmployeeScheduleType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblOutGoing.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReturDetailPropertyBarcode.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefFixedTangibleAssetDepreciationStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEmployee.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefHotelInvoiceType.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblReservationCheckInOut.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblFixedTangibleAsset.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/RefFinanceTransactionStatus.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblEndOfDay.hbm.xml"/>
    <mapping resource="hotelfx/persistence/model/TblGroup.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
