/*
 * Empty Stylesheet file.
 */

@import "customer.css";

.input-form-left{
    -fx-background-color:#f1f8e9;
    -fx-background-radius: 10 0 0 10;
}

.input-form-right{
    -fx-background-color:#f1f8e9;
    -fx-background-radius: 0 10 10 0;
}

.button-cancel{
  -fx-background-color:#388E3C;
  -fx-shape:"M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z";
}