/*
 * Empty Stylesheet file.
 */

@import "../feature_overtime.css";
.table-row-cell{
   -fx-background-color: #ff7043;
   -fx-text-fill: white;
}

.table-view .table-row-cell:datebefore,
.table-view .table-row-cell:datebefore .table-cell{
  -fx-text-fill : black;
  -fx-background-color : #ffcdd2; 
}

.table-view .table-row-cell:datebefore:selected,
.table-view .table-row-cell:datebefore:selected .table-cell{
  -fx-text-fill : black;
  -fx-background-color : derive(gold, 67%);
}