/*
 * Empty Stylesheet file.
 */

@import "../end_of_day.css";

.anchor-pane-selected-detail{
    -fx-background-color: derive(gold, 67%);
}

.cell-input-odd{
    -fx-background-color: #f1f8e9;
    -fx-text-fill:black;
}

.cell-input-even{
    -fx-background-color: #dcedc8;
    -fx-text-fill:black;
}


.cell-input-odd-error{
    -fx-text-fill : black;
    -fx-background-color : red; 
    -fx-border-color: #ec407a;
    -fx-border-width: 0 0 1 0  ;
}

.cell-input-even-error{
    -fx-text-fill : black;
    -fx-background-color : red; 
    -fx-border-color: #ec407a;
    -fx-border-width: 0 0 1 0  ;
}