/*
 * Empty Stylesheet file.
 */

@import "log_book.css";

.input-form-left{
    -fx-background-color:#f1f8e9;
    -fx-background-radius: 10 0 0 10;
}

.input-form-right{
    -fx-background-color:#f1f8e9;
    -fx-background-radius: 0 10 10 0;
}

.text-field-subject,
.text-area-message{
    -fx-background-radius: 5;
    -fx-background-color:white;
}

.text-area-message .scroll-pane{
    -fx-background-radius: 5;
    -fx-background-color:white;
}

.flow-pane-to{
    -fx-border-color: red;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-background-radius: 5;
    -fx-background-color:white;
}