/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 28, 2017, 4:17:01 PM
    Author     : Andreas
*/

/*.anchor-pane{
  -fx-background-color : white;
  -fx-padding : 0;
}

.anchor-pane-disable-layer{
   -fx-background-color : #BDBDBD33;
   -fx-padding : 0;
}

.border-pane{
    -fx-padding : 0;
}

.button{
    -fx-background-color : #388E3C;
    -fx-font-weight : 900;
    -fx-text-fill : white;
}

.button-icon{
    -fx-background-color : transparent;
    -fx-background-radius : 10;
}

.combo-box-popup > .list-view > .virtual-flow > .viewport{
    -fx-background-color : transparent;
}

.combo-box-popup > .list-view > .virtual-flow > .corner{
    -fx-background-color : transparent;
}

.combo-box-popup > .list-view > .virtual-flow .scroll-bar:vertical,
.combo-box-popup > .list-view > .virtual-flow .scroll-bar:horizontal{
    -fx-background-color : transparent;
}

.combo-box-popup > .list-view > .virtual-flow .scroll-bar:vertical .track{
    -fx-background-color : transparent;
    -fx-padding : 0 -1 0 -1;
    -fx-background-radius : 10;
}

.combo-box-popup > .list-view > .virtual-flow .scroll-bar:horizontal .track{
    -fx-background-color : transparent;
    -fx-padding : -1 0 -1 0;
    -fx-background-radius : 10;
}

.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:horizontal > .thumb{
    -fx-background-color : #558b2f;
    -fx-border-color : transparent;
}

.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:vertical .increment-arrow,
.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:vertical .decrement-arrow{
    -fx-background-color : transparent;
    -fx-padding : 0 1 0 1;
    -fx-shape : "";
}

.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:horizontal .increment-arrow,
.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:horizontal .decrement-arrow{
    -fx-background-color : transparent;
    -fx-padding : 1 0 1 0;
    -fx-shape : "";
}

.combo-box-popup > .list-view{
    -fx-background-color : -fx-box-border , -fx-control-inner-background;
    -fx-background-insets : 0, 1;
    -fx-effect : dropshadow(three-pass-box, rgba(0,0,0,0.6),8,0.0,0,0);
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell{
    -fx-padding : 4 0 4 5;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover{
    -fx-background-color : #388E3C;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover{
    -fx-background-color: #f1f8e9;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover .label{
    -fx-text-fill: black;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .label,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover .label{
    -fx-text-fill: white;
}

.combo-box .arrow,
.combo-box .arrow-button{
    -fx-background-color: transparent;
}

.input-form{
    -fx-background-color: #f1f8e9;
    -fx-background-radius: 0 10 10 0;
}

.input-focused-line{
    -fx-background-color: #388E3C;
}

.input-line{
    -fx-background-color: #388E3C;
}

.input-scroll{
    -fx-background-radius: 10 0 0 10;
    -fx-background-color: #f1f8e9;
    
}

.input-scroll > .viewport{
    -fx-background-color: transparent;
}

.input-scroll .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.input-scroll .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-padding: 0 -1 0 -1;
    -fx-background-radius: 10;
}

.input-scroll > .scroll-bar:vertical > .thumb,
.input-scroll:hover > .scroll-bar:vertical > .thumb{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.input-scroll:onScroll > .scroll-bar:vertical > .thumb,
.input-scroll:hover:onScroll > .scroll-bar:vertical > .thumb{
    -fx-background-color: #558b2f;
    -fx-border-color: transparent;
}

.input-scroll > .scroll-bar:vertical .increment-arrow,
.input-scroll > .scroll-bar:vertical .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding: 0 1 0 1;
    -fx-shape: "";
}

.input-button{
    -fx-background-color: #558b2f;
    -fx-text-fill: white;
}

.jfx-combo-box{
    -jfx-default-prompt-color : black;
}

.jfx-custom-tool-bar .button{
    -fx-border-size : 1;
    -fx-border-color: white;
    -fx-background-color: #558b2f;
    -fx-background-radius: 6.5;
    -fx-text-fill: white;
}

.jfx-date-picker{
    -jfx-default-color : #388E3C;
    -jfx-default-arrow-color : #388E3C;
    -jfx-default-prompt-color : black;
}

.jfx-date-picker .button{
    -fx-background-color: transparent;
    -fx-background-radius: 30;
}

.jfx-text-area{
    -jfx-default-prompt-color : black;
}

.jfx-text-field{
    -jfx-focus-color : #388E3C;
    -jfx-prompt-focus-color : black;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #558b2f;
    -fx-border-insets: 0 0 1 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #33691e;
}

.table-view .column-header, .table-view .filler{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.table-view .table-row-cell{
    -fx-table-cell-border-color : transparent;
}

.table-view .table-row-cell:even,
.table-view .table-row-cell:even .table-cell{
    -fx-background-color: #dcedc8;
    -fx-text-fill: black;
}

.table-view .table-row-cell:odd,
.table-view .table-row-cell:odd .table-cell{
    -fx-background-color: #f1f8e9;
    -fx-text-fill: black;
}

.table-view .table-row-cell:selected,
.table-view .table-row-cell:selected .table-cell{
    -fx-background-color: derive(gold,67%);
    -fx-text-fill: black;
}

.table-view > .virtual-flow > .viewport{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .corner{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow .scroll-bar:vertical,
.table-view > .virtual-flow .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-padding: 0 -1 0 -1;
    -fx-background-radius: 10;
}

.table-view > .virtual-flow .scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-padding: -1 0 -1 0;
    -fx-background-radius: 10;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb{
    -fx-background-color: #558b2f;
    -fx-border-color: transparent; 
}

.table-view > .virtual-flow > .scroll-bar:vertical .increment-arrow,
.table-view > .virtual-flow > .scroll-bar:vertical .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding: 0 1 0 1;
    -fx-shape: "";
}

.table-view > .virtual-flow > .scroll-bar:horizontal .increment-arrow,
.table-view > .virtual-flow > .scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding: 1 0 1 0;
    -fx-shape: "";
}

.split-pane{
    -fx-padding: 0;
}

.split-pane > .split-pane-divider{
    -fx-padding: 0;
}*/

/*
 * Empty Stylesheet file.
 */

@import "../root.css";

.anchor-pane{
    -fx-background-color:white;
    -fx-padding: 0;
}

.anchor-pane-disable-layer{
    -fx-background-color:#BDBDBD33;
    -fx-padding: 0;
}

.border-pane{
    /*-fx-background-color:white;*/
    -fx-padding: 0;
/*    -fx-border-width: 0.25;
    -fx-border-color:black;*/
}

.button{
    -fx-background-color: #388E3C;
    -fx-font-weight:900;
    -fx-text-fill: white;
}

.button-icon{
    -fx-background-color:transparent;
    -fx-background-radius:10;
}

.combo-box-popup > .list-view > .virtual-flow > .viewport{
    -fx-background-color: transparent;
}

.combo-box-popup > .list-view > .virtual-flow > .corner{
    -fx-background-color: transparent;
}

.combo-box-popup > .list-view > .virtual-flow .scroll-bar:vertical,
.combo-box-popup > .list-view > .virtual-flow .scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.combo-box-popup > .list-view > .virtual-flow .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-padding:0 -1 0 -1;
    -fx-background-radius: 10;
}

.combo-box-popup > .list-view > .virtual-flow .scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-padding:-1 0 -1 0;
    -fx-background-radius: 10;
}

.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:vertical > .thumb, 
.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:horizontal > .thumb{
    -fx-background-color: #558b2f;
    -fx-border-color: transparent;
}

.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:vertical .increment-arrow, 
.combo-box-popup > .list-view >.virtual-flow > .scroll-bar:vertical .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding:0 1 0 1;
    -fx-shape:"";
}

.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:horizontal .increment-arrow, 
.combo-box-popup > .list-view > .virtual-flow > .scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding:1 0 1 0;
    -fx-shape:"";
}

.combo-box-popup > .list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected, 
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover{
    /*-fx-background: -fx-accent;*/
    -fx-background-color: #388E3C;
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: #f1f8e9;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover .label{
    -fx-text-fill:black;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .label, 
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover .label{
    -fx-text-fill:white;
}

.combo-box .arrow, 
.combo-box .arrow-button{
    -fx-background-color: transparent;
}

.input-form{
    -fx-background-color:#f1f8e9;
    -fx-background-radius: 0 10 10 0;
}

.input-focused-line{
    -fx-background-color:#388E3C;
}

.input-line {
    -fx-background-color:#388E3C;
}

.input-scroll{
    -fx-background-radius: 10 0 0 10;
    -fx-background-color: #f1f8e9;
}

.input-scroll > .viewport{
    -fx-background-color: transparent;
}

.input-scroll .scroll-bar:vertical {
    -fx-background-color: transparent;
}

 .input-scroll .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-padding:0 -1 0 -1;
    -fx-background-radius: 10;
}

 .input-scroll > .scroll-bar:vertical > .thumb,
 .input-scroll:hover > .scroll-bar:vertical > .thumb{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
   
}

.input-scroll:onScroll > .scroll-bar:vertical > .thumb,
.input-scroll:hover:onScroll > .scroll-bar:vertical > .thumb {
    -fx-background-color: #558b2f;
    -fx-border-color: transparent;
}

.input-scroll > .scroll-bar:vertical .increment-arrow, 
.input-scroll > .scroll-bar:vertical .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding:0 1 0 1;
    -fx-shape:"";
}

.input-button{
    -fx-background-color: #558b2f;
    -fx-text-fill: white;
}

.jfx-combo-box{
    -jfx-default-prompt-color:black;
}

.jfx-custom-tool-bar .button{
    -fx-border-size:1;
    -fx-border-color:white;
    -fx-background-color: #558b2f;
    -fx-background-radius: 6.5;
    -fx-text-fill: white;
}

.jfx-date-picker{
    -jfx-default-color:#388E3C;
    -jfx-default-arrow-color:#388E3C;
    -jfx-default-prompt-color:black;
}

.jfx-date-picker .button{
    -fx-background-color:transparent;
    -fx-background-radius:30;
}

.jfx-text-area{
    -jfx-default-prompt-color:black;
}

.jfx-text-field{
    -jfx-focus-color:#388E3C;
    -jfx-prompt-focus-color:black;
    -jfx-prompt-focus-color:black;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #558b2f;
    -fx-border-insets: 0 0 1 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #33691e;
}

.table-view .column-header, .table-view .filler{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.table-view .table-row-cell{
    -fx-table-cell-border-color: transparent;
}

.table-view .table-row-cell:even,
.table-view .table-row-cell:even .table-cell{
    -fx-background-color: #dcedc8;
    -fx-text-fill:black;
}

.table-view .table-row-cell:odd,
.table-view .table-row-cell:odd .table-cell{
    -fx-background-color: #f1f8e9;
    -fx-text-fill:black;
}

.table-view .table-row-cell:selected,
.table-view .table-row-cell:selected .table-cell{
    -fx-background-color: derive(gold, 67%);
    -fx-text-fill:black;
}

.table-view > .virtual-flow > .viewport{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .corner{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow .scroll-bar:vertical,
.table-view > .virtual-flow .scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-padding:0 -1 0 -1;
    -fx-background-radius: 10;
}

.table-view > .virtual-flow .scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-padding:-1 0 -1 0;
    -fx-background-radius: 10;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb, 
.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb{
    -fx-background-color: #558b2f;
    -fx-border-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar:vertical .increment-arrow, 
.table-view > .virtual-flow > .scroll-bar:vertical .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding:0 1 0 1;
    -fx-shape:"";
}

.table-view > .virtual-flow > .scroll-bar:horizontal .increment-arrow, 
.table-view > .virtual-flow > .scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding:1 0 1 0;
    -fx-shape:"";
}

.split-pane{
    -fx-padding: 0;
}

.split-pane > .split-pane-divider{
    -fx-padding: 0;
}
