/*
 * Empty Stylesheet file.
 */

@import "reservation.css";

.title-multi-checkout{
    -fx-font-family:"Helvetica";
    -fx-font-weight: bolder;
    -fx-text-fill:#388E3C;
    -fx-font-size: 11pt;
    -fx-effect: dropshadow( two-pass-box , rgba(255, 255, 255, 1) , 4, 5 , 0 , 0 );
}

.anchor-pane-summary{
    -fx-border-color:black;
    -fx-border-width:0.15;
}

.input-form-left{
    -fx-background-color:#f1f8e9;
    -fx-background-radius: 10 0 0 10;
}

.input-form-right{
    -fx-background-color:#f1f8e9;
    -fx-background-radius: 0 10 10 0;
}

.cell-input-odd{
    -fx-border-color: red;
    -fx-border-width: 0 0 1 0;
}

.cell-input-even{
    -fx-border-color: red;
    -fx-border-width: 0 0 1 0;
}


.cell-input-odd-edit{
    -fx-border-color: black;
    -fx-border-width: 0 0 0 0;
}

.cell-input-even-edit{
    -fx-border-color: black;
    -fx-border-width: 0 0 0 0;
}